@import 'variables-beta';
@import "mixins";

// FIXME: Fail.
#mw-notification-area {
	display: none !important;
}

#p-logo,
body {
	background-color: #fff;
}

#mw-head-base {
	display: none;
}

#mw-page-base {
	height: @header-height;
	background: none;
}

#p-search {
	position: absolute;
	top: .35em;
	font-size: 1em;
	margin: 0;
	width: 100%;
	background-color: #FFF;

	// FIXME: Reset original vector style. When upstream just remove the rule.
	form {
		margin: 0;
	}
}

.mw-scrolled #p-logo,
div#simpleSearch {
	height: @header-height;
}

.mw-scrolled #p-logo {
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid @content-nav-divider-color;

	a {
		height: 2.2em;
		width: 11em;
		background-size: auto 2.2em;
		background-position: center top;
	}
}


// Change the border left of the content panes
div.vectorTabs {
	background: none;
}

#p-search,
div.vectorTabs,
div#content {
	border-left: 1px solid @content-nav-divider-color;
}

#p-cactions {
	ul {
		right: 0;
	}
}

div#simpleSearch {
	left: .35em;
	background: none;
	margin: 0;
	border: none;
	border-bottom: 1px solid @content-nav-divider-color;
	width: 100%;

	#searchButton {
		.icon("magnifying_glass_gray");
		background-size: 24px auto;
		position: absolute;
		left: auto;
		right: 0;
		height: 100%;
		padding: 0;
		top: 0;
		width: 50px;

		// FIXME: Kill image tag when upstream to core.
		img {
			display: none;
		}
	}

	// FIXME: Doesn't need to be so specific
	input#searchInput {
		position: relative;
		left: @header-height + .35em + .35em;
		height: 100%;
		padding: 0;
		margin: 0;
	}
}

div#footer,
#left-navigation,
div#content,
#p-search,
#mw-panel {
	left: 0;
	margin-left: 0;
}

#p-tb,
#p-logo,
#p-personal,
#mw-panel {
	display: none;
}

// These are not needed when typography feature is enabled but just in case they are not...
@media screen and (min-width: 982px) {
	#p-logo {
		left: 0;
	}
}

@media screen and (min-width: 768px) {
	div#content {
		padding-left: @header-height;
	}

	#p-search {
		top: 0;
		position: fixed;
	}

	div#simpleSearch {
		#searchButton {
			left: 0;
			right: auto;
		}
	}

	div#footer,
	#left-navigation,
	div#content {
		margin-left: @left-nav-width;
	}

	#p-search {
		left: @left-nav-width;
	}

	.mw-scrolled {
		#p-logo {
			width: @left-nav-width;
			position: fixed;
		}
	}

	#p-logo,
	#p-personal,
	#mw-panel {
		display: block;
	}
}
