blockquote {
	font-family: @content-heading-font-family;
	font-size: 1.2em;
	line-height: 1.6em;
}


.action-view {
	#bodyContent {
		max-width: 715px;
	}

	&.ns-special {
		#bodyContent {
			max-width: none;
		}
	}
}

/* Content */
div#content {
	line-height: 1.5em;
	.mw-editsection {
		font-family: @content-font-family;
	}

	p {
		line-height: inherit;
	}

	h1,
	#firstHeading {
		font-family: @content-heading-font-family;
		font-size: 1.833em;
		line-height: 30pt;
		padding: 0;
		margin-bottom: 4pt;
	}

	h2 {
		font-size: 1.5em;
		line-height: 22pt;
		margin-top: 16pt;
	}

	h2 {
		font-family: @content-heading-font-family;
		padding: 0;
		margin-bottom: 4pt;
	}

	h3,
	h4,
	h5,
	h6 {
		margin-top: 3pt;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.17em;
		line-height: 22pt;
	}

	h3,
	h4 {
		font-weight: bold;
	}

	h4,
	h5,
	h6 {
		font-size: 100%; /* (reset) */
	}

	h6 {
		font-style: italic;
	}

	p {
		margin-bottom: 8pt;
	}

	pre {
		overflow-x: auto;
	}

	// FIXME: this is hacky
	#toc h2 {
		font-size: 100%;
	}

	sup {
		line-height: 0;
	}
}

// External links
.external {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image('images/external-link-ltr-icon.png');
	padding-right: 13px;
}

// Table of contents
#toc,
.mw-warning {
	border: 1px solid #E0E0E0;
}

// enwiki specific css for related and disambiguation links
// Should not be ported to core.
.rellink,
.dablink {
	line-height: 1.5em;
	margin-bottom: 0;
	padding: 3px 0px 0px 0px;
	color: #333;
}

